extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab debitis ut quas eum maiores error! Architecto debitis deserunt laborum assumenda alias delectus consequatur doloribus laudantium, enim porro, fuga unde repellendus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, recusandae dolore nam veniam, molestias dolor facilis, porro nulla aperiam laborum aliquam. Error cumque modi aut soluta aliquam consequuntur! Cum, quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti temporibus ex animi enim cum sunt dolor a magni fugit error, sapiente mollitia quis quasi nam quidem qui sint totam commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sunt mollitia in laudantium quia porro delectus voluptatibus beatae consequatur officiis quidem optio, fugit ipsum laborum. Exercitationem porro autem quia cupiditate! Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam sunt aliquid officiis, ex eum voluptatibus cupiditate est ad quas sed hic, harum odio corrupti. Maiores exercitationem sapiente dolores ratione officiis?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam sunt aliquid officiis, ex eum voluptatibus cupiditate est ad quas sed hic, harum odio corrupti. Maiores exercitationem sapiente dolores ratione officiis?

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam sunt aliquid officiis, ex eum voluptatibus cupiditate est ad quas sed hic, harum odio corrupti. Maiores exercitationem sapiente dolores ratione officiis?
